.App {
  text-align: center;
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.admin{
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.line{
  display:flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.left{
  justify-content: left;
  align-items: left;
}
.right{
  justify-content: right;
  align-items: right;
}
a{
  color: black !important;

}
a:hover{
  color: lightgray !important;
}
table {
  border: 2px solid black;
  width: 100%;
  text-align: center;
}
th, td {
  border: 1px solid black !important;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer{
  margin-bottom: -10px;
}
.icon{
  justify-content: left;
  align-items: left;
  background-color: blue;
  margin-left: -12px;
  padding: 5px 0px 5px 0px;
  color: white;
}
.field{
  background-color: #E8E8E8;
  width: 100%;
  margin-right: -12px;
  padding-top: 8px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
